header {
  background-color: #333333;
}

h1 {
  color: #eee;
  font-size: 28px;
  background-color: #0000FF;
}
h2 {
  font-size: 24px;
}

}
body {
font: "Georgia",Times,serif;
background-color: orange;
}

.container {

text-align: center;
color: green;
background-color: orange;
top: 0;
bottom: 50;
}

#bioimage {
  *position: relative;
  right: 300;
  top: 450px;*/
}
