

header {
  background-color: #0000FF;
  width: 100000px;
  position:fixed;
  top:0;
  left:0;
  overflow: hidden;
  }

h1 {
  font-family: 'MedievalSharp', strong;
  color: #eee;
  font-size: 28px;
}
h2 {
  font-size: 24px;
  font-family: 'Lovers Quarrel', cursive;
  text-align: center;
}
body{
  background-color: #6d97db;
  display: inline-block;
}

p {
text-align:center;
display: inline-block;
color: #e29714;
font-family: 'Glass Antiqua', cursive;
font-size: 16px;
margin-left: 200px;
margin-right: 200px;
}

.container {
float:left;
text-align: center;
width:65%;

}

selector:pseudo-class {
    property:value;
}
a:link {
    color: #217a31;
}

/* visited link */
a:visited {
    color: #53b286;
}

/* mouse over link */
a:hover {
    color: #daeddc;
}

/* selected link */
a:active {
    color: #bfbaf2;
}

#bioimage {
  position: relative;
  right: 300px;
  top: 450px;
  float:left;
}


.center-div
{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    height: 100px;
    float:right;
  }

    html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
}
